.page__book {
  .book__block {
    display: flex;
    flex-wrap: wrap;

    .book__imgBlock {
      flex: 0 1 40%;
      text-align: center;
      padding: 50px;
      background: #efecec;
      border-radius: 10px;
      margin: 0 0 30px 30px;
    }
    
    @media (max-width: 920px) {
      .book__imgBlock{
        flex: 0 1 100%;
        text-align: center;
        margin: 0 30px 0 30px;
      }
    }

    .book__imgBlock img {
      width: 277px;
      height: 431px;
      box-shadow: 10px 10px 5px #4d4c4c
    }
    @media (max-width: 470px) {
      .book__imgBlock img {
        width: 150px;
        height: 280px;
      }
    }

    .book__body {
      flex: 0 1 55%;
      padding: 50px;
      font-size: 18px;


      .book__category {
        padding: 0 0 35px 0;
        font-weight: 300;
      }
      @media (max-width: 920px) {
        .book__category{
          flex: 0 1 100%;
          padding: 0 0 5px 0;
        }
      }

      .book__title {
        padding: 0 0 10px 0;
        line-height: 172%;
        font-weight: 700;
        font-size: 20px;
      }
      @media (max-width: 920px) {
        .book__title{
          flex: 0 1 100%;
          padding: 0 0 5px 0;
        }
      }

      .book__author {
        padding: 0 0 35px 0;
        text-decoration: underline;
        color: #919191;
        font-weight: 300;
      }
      @media (max-width: 920px) {
        .book__author{
          flex: 0 1 100%;
          padding: 0 0 15px 0;
        }
      }

      .book__description {
        border: 1px solid #e0e0e0;
      }
    }
    @media (max-width: 920px) {
      .book__body{
        flex: 0 1 100%;
        padding: 40px 40px 30px 40px;
      }
    }
  }
}