.page__totalResult {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  .totalResult__block {
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
  }
}

.page__cards {
  display: flex;
  flex-wrap: wrap;
  .cards__card {
    display: flex;
    flex: 1 1 25%;
    border-radius: 10px;
    padding: 15px;
    .card__container {
      flex-direction: column;
      border-radius: 14px;
      width: 100%;
      height: 100%;
      max-width: 1046px;
      padding: 0 20px;
      margin: 0 15px;
      background-color: #f3f0f0;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        box-shadow: 10px 20px 35px #6e6d6d;
        transform: translateY(-5px);
      }

      .card__imgBlock {
        text-align: center;
        padding: 15px 0 15px 0;
      }
      .card__imgBlock img {
        width: 152px;
        height: 233px;
        box-shadow: 10px 10px 5px #919191
      }
      .card__categoryBlock {
        padding: 12px 0 12px 0;
        text-decoration: underline;
        color: #6e6d6d;
        line-height: 142%;
        font-weight: 400;
      }

      .card__titleBlock {
        padding: 7px 0 0 0;
        font-weight: 800;
      }

      .card__authorBlock {
        padding: 7px 0 10px 0;
        color: #6e6d6d;
        line-height: 142%;
        font-weight: 400;
      }
    }
  }
  .cards__card:nth-last-child(n+1){
    display: flex;
    flex: 0 1 25%
  }
  @media (max-width: 1200px) {
    .cards__card:nth-last-child(n+1){
      flex: 0 1 33%;

    }
  }
  @media (max-width: 970px) {
    .cards__card:nth-last-child(n+1){
      flex: 0 1 45%;
    }
  }
  @media (max-width: 650px) {
    .cards__card:nth-last-child(n+1){
      flex: 0 1 80%;
    }
  }
}
.page__loadMore{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .loadMore__block{
    width: 200px;
    text-align: center;
    height: 100%;
    padding: 50px;
  }
  .loadMore__block button {
    width: 135px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid black;
    background-color: darkkhaki;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }
}