.alert {
  display: flex;
  flex-wrap: nowrap;

  background-color: #f44336;
  color: white;
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 10px 20px;
  -webkit-box-shadow: 5px 5px 14px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 14px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 14px -5px rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;

}
.closeAlert {
  display: none;
}

.closebtn:hover {
  color: black;
}