.page {
  flex: 1 1 auto;
  .page__search {
    .search__container {
      .search__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 100%;
        padding: 38px 0 46px 0;
        .search__title {
          font-size: 40px;
          line-height: calc(80 / 50 * 100%);
          font-weight: 800;
          letter-spacing: 0.2px;
        }
        @media (max-width: 430px){
          .search__title{
            font-size: 30px;
            font-weight: 700;
            line-height: 120%;
            margin: 0 0 20px 0;
          }
        }
        .search__form {
          display: flex;
          flex-wrap: wrap;
          .searchBlock__input {
            font-size: 18px;
            margin: 20px 20px 40px 0;
            flex: 1 1 100%;
            text-align: center;
          }
          @media (max-width: 530px) {
            .searchBlock__input{
              flex: 0 1 100%;
              text-align: center;
              padding: 0 0 10px 0;
            }
          }
          .searchBlock__input input {
            border: 1px solid #969393;
            width: 250px;
            padding: 12px;
            border-radius: 8px
          }
          .searchBlock__input input:focus {
            border: 1px solid #423a64;
          }
          .select__category {
            flex: 1 1 33%;
          }
          @media (max-width: 530px) {
            .select__category{
              flex: 0 1 100%;
              text-align: center;
              padding: 0 0 30px 0;
            }
          }
          .select__category select {
            font-size: 18px;
            border: 1px solid #969393;
            padding: 12px;
            border-radius: 10px;
            width: 130px;
          }
          .select__sort {
            flex: 1 1 33%;
          }
          @media (max-width: 530px) {
            .select__sort{
              flex: 0 1 100%;
              text-align: center;
              padding: 0 0 30px 0;
            }
          }
          .select__sort select {
            font-size: 18px;
            border: 1px solid #969393;
            padding: 12px;
            border-radius: 10px;
            width: 130px;
          }

          .search__button {
            flex: 1 1 33%;
          }
          @media (max-width: 530px) {
            .search__button {
              flex: 0 1 100%;
              text-align: center;
            }
          }
          .search__button button {
            width: 91px;
            border-radius: 10px;
            padding: 12px;
            border: 1px solid #5778c0;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            background-color: #9a93c4;
          }
          .search__button button:hover {
            border: 1px solid #8f89b6;
            background-color: #5778c0;
          }
        }
      }
    }
  }
}